# Data Tables, Transforms, Pandas

# DataFrame

First check whether you have pandas install

In [ ]:
### check Anaconda Navigator | Environments | Installed
import pandas

## What is pandas?

* an open source library in Python for data analysis. 
* Its popular because it makes it easier to work with data.
* it's built on top of NumPy, for numerical Python, numerical computing. 
* And it also works well with scikit-learn for machine learning.

## Pandas input/output

Documentation: https://pandas.pydata.org/pandas-docs/stable/reference/io.html

## read a tabular data file into pandas

* ```read_csv```: Read general delimited file into DataFrame
* Documentation: [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

* ```read_table```: Read a comma-separated values (csv) file into DataFrame 
* Documentation: [read_table](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)

## Data Tables

* data with rows and columns. Data that looks like a table
* n = cardinality (rows)
* p = dimensionality (columns)
* index = row labels 
* column names are headers, have fixed data types

See example table below

In the world of pandas, there are two basic object types:
* pandas data frame -- just a table of rows and columns
* pandas series -- the columns of data

### Reading file using ```read_csv``` pandas method

In [ ]:
d = pandas.read_csv('data/Counties2010.csv') #provide the pathname where you have the Counties2010.csv data file
d

### Exploring the data

In [ ]:
d.shape #Return a tuple representing the dimensionality of the DataFrame.

In [ ]:
# I only want to examine the first 5 rows
d.head()

In [ ]:
# What about the last five 5 rows
d.tail()

### Generate descriptive statistics
Read documentation: [```d.describe()```](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

In [ ]:
d.describe() #Generate descriptive statistics

In [ ]:
# I want to see the data type of each of the columns (series)
d.dtypes #if strings are involved, the result will be of object dtype, like you see for 'State'

In [ ]:
d.describe(include=['object'])

### Let's try reading using ```read_table```

Read general delimited file into DataFrame.

In [ ]:
# read a dataset of Chipotle orders directly from a URL and store the results in a DataFrame
orders = pandas.read_table('http://bit.ly/chiporders')
orders

<span class="mark">Use ```pandas.read_table``` method to read the Counties2010.csv file</span>

*Hint: read Documentation [read_table](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)*

In [ ]:
# Your code here

Now use the same method to <span class="mark">read this file</span>: http://bit.ly/movieusers

You have to inspect the file to figure out the seperator.

In [ ]:
# Your code here

You have figured out how to properly read the file, but there is still a problem.

See the header row. <span class="mark">Can you spot the problem?</span>

<span class="mark">Now fix it.</span> *Again, read the [read_table](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html) documentation to figure out how*

In [ ]:
# Your code here

In [ ]:
# examine the first 5 rows
users.head()

# Data Table Transformations

## Slice

How do I select a pandas Series from a DataFrame? 

Let's get back to our counties dataset

In [ ]:
d = pandas.read_table('data/Counties2010.csv', sep=',') # make sure it is loaded

In [ ]:
# use the dot notation
d.IncomePerCapita

In [ ]:
# or select with the actual header names 'IncomePerCapita'
d['IncomePerCapita']

# Note: If the name of the series has a space or is a built-in attribute like 'head' , you cannot use dot notation. Use bracket notation instead

### how do I select multiple rows and columns?
```loc``` is a dataframe method for filtering rows and columns by **labels**. For rows it is index, cols it is column names. 

Read documentation: [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

d.loc['what rows I want', 'what columns I want']

You can pass it:
* A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).
* A list of labels
* A slice of labels
* A boolean Series
* A colon (which indicates "all labels")

#### Row selection

In [ ]:
d.loc[0,:] #Row 0 all columns

In [ ]:
d.loc[(0,1,2),:] #I want row 1, 2, 3 and all columns

In [ ]:
d.loc[0:2,:] # same thing -- I want rows 1, 2, 3 and all columns. loc is inclusive of both sides. See iloc later to compare

#### column selection

In [ ]:
# I want all rows only want the name of the county and population
d.loc[:,['Name', 'Population']]

In [ ]:
# I want all rows, and columns from County Name to MedianRent
d.loc[:,'Name':'MedianRent']

#### conditional selection of rows and columns (Filter)

In [ ]:
d.loc[d.State=='WA'] # I only want to see data from WA

In [ ]:
d.loc[d.State=='WA', 'Population']

#### Integer based indexing

Read documentation [```iloc```](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html): filtering rows and columns by **i**nteger position. i stands for integer

The iloc method is used to select rows and columns by integer position. You can pass it:

* A single integer position
* A list of integer positions
* A slice of integer positions
* A colon (which indicates "all integer positions")

In [ ]:
d.iloc[0,:] # row 0 and all columns

In [ ]:
d.iloc[[0,1], [0,3]] # rows in positions 0 and 1, columns in positions 0 and 3

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
d.iloc[0:2, 0:4]

In [ ]:
# rows in positions 0 through 2 (exclusive), all columns
d.iloc[0:2, :]

In [ ]:
# accomplish the same thing - but using 'iloc' is preferred since it's more explicit
d[0:2]

### Practice Exercize

<span class="mark">TODO</span>
read a dataset of UFO reports into a DataFrame and output the first 4 rows. You can find the data here: http://bit.ly/uforeports

In [ ]:
# Your code below

<span class="mark">TODO</span>: You want to see all rows, but only columns in positions 0, 1, and 2.

In [ ]:
# Your code below

<span class="mark">TODO: </span> You want to see all rows, but only columns in positions 0 and 4.

In [ ]:
# Your code below

<span class="mark">TODO</span>: You want to see rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)

In [ ]:
# Your code below

## Filter

In [ ]:
d.loc[d.State=='VA'] # I only want to see data from VA

In [ ]:
d[d.State=='VA'] #same operation

<span class="mark">TODO</span>: Filter data to keep only those where the IncomePerCapita is < 30000

*Answer: You should get 1830 rows*

In [ ]:
# Your code below

#### Data Science example:
What are the college towns where the median rent is very high?

* First let's define what we mean by college town. We are defining -- where Percent College Grad is > 30%
* Next, let's define what we mean by "high" median rent. We are defining high median rent as > $1000

In [ ]:
d[(d.PercentCollegeGrad > 30) & (d.MedianRent > 1000)]

<span class="mark">TODO</span>: Find the college towns (use same definition as before) which have low Income per Capita.

In [ ]:
# Your code below. Come up with your criteria for defining low Income per Capita.

## Reduce

mean, max, min, sum

In [ ]:
d.IncomePerCapita.mean() # find mean IncomePerCapita

In [ ]:
d.IncomePerCapita.sum()

In [ ]:
d.mean() # finds mean for every column. Default behavior of mean() is axis = 0.

In [ ]:
d.mean(axis=0) #moving along rows. collapsing all columns.

In [ ]:
d.mean(axis=0).shape

In [ ]:
# moving along axis = 1, moving columns, collaprsing all rows
d.mean(axis=1) #Results are not meaningful.

In [ ]:
d.mean(axis=1).shape

In [ ]:
d.shape #check number of rows is 3146

In [ ]:
d.mean(axis='index') #row-wise operation. axis=0 means along "indexes".

In [ ]:
d.mean(axis='columns') #column-wise operation. axis=1 means along "columns".

#### max

In [ ]:
d.IncomePerCapita.max()

Read documentation: [idxmax](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html)

Return index of first occurrence of maximum over requested axis.

In [ ]:
d.IncomePerCapita.idxmax()

In [ ]:
d.iloc[3141,:] #what's this data? Teton in Wyoming

<span class="mark">TODO</span>: County name with max IncomePerCapita?

In [ ]:
# Your code below

## Map

In [ ]:
## how many college grads in each county?
d['CollegeGrads'] = d.Population * d.PercentCollegeGrad / 100

In [ ]:
d

In [ ]:
d.CollegeGrads = d.CollegeGrads.map(int)
d

## Sort

Read documentation: [```sort_values```](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [ ]:
d.sort_values('PercentCollegeGrad', ascending=False)

### Exercise

<span class="mark">What is the IncomePerCapita of the US?</span> *Medium Difficult*

[Per capita income](https://en.wikipedia.org/wiki/Per_capita_income)
Income per capita or average income measures the average income earned per person in a given area (city, region, country, etc.) in a specified year. It is calculated by dividing the area's total income by its total population.

In [ ]:
# Your code below